/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap"); */
/* font-family: "Roboto Mono", monospace; */

/* 
#D2EFEF, #f6f8f8, #4bc5b8

*/
/* .active {
    
} */

* {
    font-family: "Roboto Mono", monospace;
}

/* #main_wrapper {
} */

/* header */
#main_header {
    background-color: #d2efef;
    /* background: url(../img/banner/bg-1.jpg) no-repeat; */
    background-size: cover;
    color: #f6f8f8;
}
/* .nav-link {
    padding-left: 20px;
} */
.banner_content h1 {
    font-weight: 700;
}
.banner_content h1 span {
    color: #4bc5b8;
}

.banner_content .banner-button {
    border: none;
    width: 150px;
    float: left;
    font-size: 16px;
    color: #f6f8f8;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 2px;
    margin: 0 10px 0 0;
}
.banner_content .bnr-btn-ac {
    background-color: #4bc5b8;
    margin-bottom: 5px;
}
.carousel-prev-next .btn-cmn{
    position: absolute;
    top: auto;
    bottom: 10px;
    border: 2px solid #4bc5b8;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
}
/* header end*/

/* best_health_care */
#best_health_care{}

#best_health_care .banner-button {
    border: none;
    width: 150px;
    float: left;
    font-size: 16px;
    color: #f6f8f8;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 2px;
    margin: 0 10px 0 0;
}
#best_health_care .bnr-btn-ac {
    background-color: #4bc5b8;
    margin-bottom: 5px;
}
/* best_health_care end */

/* knowleadge_section */
#knowleadge_section {
   /* float: left; */
   width: 100%;
   float: left;
   background-image: url(../img/banner/knowledge-bg.png);
   background-size: 100%;
   height: 400px;
   background-repeat: no-repeat;
   padding-top: 180px;
   padding-bottom: 240px;
}



/* knowleadge_section end */

/* why section */
#why_section {
    margin-top: 50px;
}
#why_section .why_img .active {
    background-color: #4bc5b8;

}
.why_img:hover{
    background-color: #4bc5b8;
}
.why_img{
    background-color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    color: #d2efef;
    width: 100%;
    height: 100%;


}
.why_img_2{
    background-color: #4bc5b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    color: #d2efef;
    width: 100%;
    height: 100%
}
.button_get {
    /* text-align: center; */
    /* border: none; */
    
    /* float: left; */
    font-size: 16px;
    color: #f6f8f8;
    background-color: #4bc5b8;
    text-align: center;
    /* justify-content: center; */
    padding: 10px 0;
    border-radius: 2px;
    margin: 0 10px 0 0;
    /* text-decoration: none; */
    width: 200px;
    height: auto;

    /* from_sctiom */
}
.from_section {
    width: 100%;
    height: 550px;
    float: left;
    background-image: url(../img/content/contact-bg.png);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
.from_text {
    font-size: 30px;
}
.from_box {
    margin-top: 100px;
    width: 100%;
    float: left;
    background-color: #f1fafb;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    display: block;
    
}
.book_text{
    display: block;
    text-align: center;
    justify-content: center;
}
/* "footer_section */


.footer_butoon{
    border: none;
    width: 150px;
    float: left;
    font-size: 16px;
    color: #f6f8f8;
    background-color: rgb(43, 166, 197);
    text-align: center;
    padding: 10px 0;
    border-radius: 2px;
    margin: 0 10px 0 0;}